<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/style.css}"></link>
</head>
<body>
 <h2>book list </h2>
 <div th:unless="${#lists.isEmpty(books)}">
 	<dt class="bookHeadline">
 		<span th:text="${book.title}">Title</span> by
 		<span th:text="${book.author}">Author</span>
 	</dt>
 	<dd class="bookDesc">
 		<span th:if="${book.desc}" th:text="${book.desc}">Desc</span>
 		<span th:if="${book.desc eq null}">
 			no desc..
 		</span>
 	</dd>
 </div>
 <div th:if="${#lists.isEmpty(books)}">
 	<p>no books in db...</p>
 </div>
 <br/>
 <h3>add books</h3>
 <form method="Post" action="">
 	<label for="title"> Title:</label>
 	 <input type="text" name="title" size="50"/><br/>
 	<label for="author"> Author:</label>
 	 <input type="text" name="author" size="50"/><br/>
 	<label for="desc"> Desc:</label>
 	 <input type="text" name="desc" size="50"/><br/>
 	<input type="submit" value="提交"/>
 </form>
</body>
</html>